/* div {
  /* padding: 20px;
  display: flex;
  flex-direction: column-reverse; 
  height: 100%; 
}*/

.chat-message {
  /* padding: 10px; */
  margin-bottom: 5px;
  flex-direction: column;
  line-height: 1.5;
}

.input-container {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.input-text {
  width: calc(100% - 10px); /* Adjust the width as needed */
  padding: 8px;
  margin-right: 0px;
  border-radius: 16px;
}

.send-button {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 16px;
}

.send-button:hover {
  background-color: #2980b9;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(120, 120, 120);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
