.display-select {
  flex: 1 !important;
  color: #fff !important;
  background: #403d84 !important;
  height: 50px !important;
  padding: 0 20px !important;
  font-size: 18px !important;
  outline: 0 !important;
  border: 0;
  border-radius: 35px !important;
  appearance: none !important;
  background-image: url(../images/down-arrow.png) !important;
  background-repeat: no repeat !important;
  background-position-x: calc(100% - 20px) !important;
  background-position-y: 20px !important;
}
