/* Webcam window style sheet */
.webcam-container {
  margin-top: 2vh;
  color: #ddd;
  border-radius: 10px;
  width: 52vw;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  /* resize: both; // Allow both horizontal/veritcal resizing */
  /* overflow: auto; /* Enable scrolling if the content exceeds the box size */
}

.webcam-button {
  margin-top: 0px;
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
}

.webcam-toggle-button {
  color: #ddd;
  border-radius: 50px;
  border: none;
  width: 100%;
  height: 50px;
  writing-mode: inherit;
  padding: 10px;
  align-items: top;
  font-size: 20px;
  font-weight: 700;
}

.button-container {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0.25em; */
  background-color: white;
  border-radius: 15px;
  height: 20px;
  width: 100px;
  font-weight: 600;
  font-size: 16px;
}

.recording-circle {
  background-color: rgb(252, 75, 75);
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  animation: ease pulse 2s infinite;
}

.no-recording-circle {
  background-color: #aaa7a7;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    background-color: rgb(249, 75, 75);
  }
  50% {
    background-color: #f69292;
  }
  100% {
    background-color: rgb(252, 75, 75);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
  border-collapse: collapse;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgb(88, 88, 88);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(88, 88, 88) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.caption-text {
  position: sticky;
  width: 96%;
  max-height: 5vh; /* Adjust the max-height as needed */
  /* transform: translateX(-50%) translateY(-50%); */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  overflow-y: auto;
  opacity: 0.7;
}

.microphone-button {
  margin-left: 0px;
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
}
