.App {
  background-image: linear-gradient(45deg, #010758, #490d61);
  height: 150vh;
  width: 100vw;
  padding: 50px;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.App-header-org {
  background-color: linear-gradient(45deg, #010758, #490d61);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #403d84;
  position: sticky;
  top: 0;
  display: flex;
  height: 40px;
  justify-content: left;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 700;
  align-items: center;
  padding: 10px;
  color: white;
  gap: 10px;
}

.App-header span {
  margin: 0 10px;
}

.App-title-row {
  width: 100%;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  gap: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Import the custom font using @font-face */
@font-face {
  font-family: HomemadeRobot;
  src: local(HomemadeRobot),
    url(./fonts/HomemadeRobotExpanded-eZrRm.ttf) format(truetype); /* Update with your custom font file path */
  /* You can add additional font formats (e.g.; woff; ttf) for better cross-browser support */
}

h1 {
  font-family: HomemadeRobot, sans-serif;
  font-size: 28px;
}

/*
  NOTE: Direction of align-items and justify-content depends on flex-direction
*/
.display-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  gap: 10px;
}

.display-vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  gap: 0px;
}

.error-message {
  position: sticky;
  width: 96%;
  max-height: 5vh;
  align-items: center;
  background-color: orange;
  color: black;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  overflow-y: auto;
  margin-bottom: 10px;
}
